<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>Designed by</span>
    </div>
    <div class="bottom">
      <span>Shashank Telkhade</span>
    </div>
  </div>
  <div class="footer__links">
    <a href="mailto:shashank.telkhade@gmail.com" target="_blank" title="{{link.title}}">
      <span class="text">EMAIL</span>
    </a>
    <a href="https://github.com/shashank-100" target="_blank" title="{{link.title}}">
      <span class="text">GITHUB</span>
    </a>
    <a href="https://www.linkedin.com/in/shashank-telkhade/" target="_blank" title="{{link.title}}">
      <span class="text">LINKEDIN</span>
    </a>
    
  </div>
</footer>
